/* VARS */

$size-of-results-panel: 350px;

$outer-radius: 20px;


/* RESULTS HEADER */

.results-panel{
  background-color: white;
  border-radius: $outer-radius;
  margin: 10px;
  width: $size-of-results-panel;
  display: flex;
  flex-direction: column;
}

.results-header{
  background-color: black;
  width: 100%;
  border-radius: $outer-radius $outer-radius 0px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.results-header-text-color{
  color:white;
}

.small-flex{
  display: flex;
  align-items: center;
}


/* RESULTS BODY */

.results-body{
  display: flex;
  justify-content: center;
  flex-direction: column;


}

.results-body-content{
  padding:10px;
}

.resultsList{
  max-height: 300px;
  overflow-y:scroll; 
}

.listItem{

}

.zoomBtn{
  background-color:#35a9de;
  border-color: #35a9de;
	// -moz-border-radius:28px;
	// -webkit-border-radius:28px;
  border-radius:28px;
  cursor: pointer;
}


/* UTILITIES */

.large-text-size{
  font-size: 18px;
}

.medium-text-size{
  font-size: 15px;
}


// Undo a dojo style
h2 h6{
  margin: 0px;
}

