/* VARS */

$size-of-results-panel: 350px;

$outer-radius: 20px;





/* RESULTS HEADER */

.results-panel{
  background-color: white;
  border-radius: $outer-radius;
  margin: 10px;
  width: $size-of-results-panel;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.results-header{
  background-color: black;
  width: 100%;
  border-radius: $outer-radius $outer-radius 0px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.results-header-text-color{
  color:white;
}

.small-flex{
  display: flex;
  align-items: center;
}






/* RESULTS BODY */

.results-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.results-body-default-message{
  text-align: center;
  padding: 10px;
}

#search-content-list, #view-content-list{
  display: none;
}

.results-body-content-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countyFormat{
  display: flex;
  align-items: center;
}

.checkBoxFormat{
  display: flex;
  align-items: center;
}

.resultsList{
  max-height: 300px;
  overflow-y:scroll;
}

.resultsListFlex{
  display: flex;
  flex-direction: column;
}

.flexRow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 5px;
}


// get these borders to be smaller

.resultListFormat:last-child::before{
  border-bottom: 0px;
}

// .resultListFormat:first-child::after{
//   content: "";
//   position: absolute;
//   left    : 25%;
//   bottom  : 0;
//   height  : 1px;
//   width   : 50%;  /* or 100px */
//   border-top: 1px solid;
//   border-bottom: 0px;
// }

.resultListFormat:before{
  content:"";
  position: absolute;
  left    : 5%;
  bottom  : 0;
  height  : 1px;
  width   : 90%;  /* or 100px */
  border-bottom: 1px solid;
}

.resultListFormat{
  position: relative;
  z-index : 1;
  padding-left: 10px;
  padding-right: 6px;
  // border-top: 1px solid;
  padding-top: 3px;
  padding-bottom: 3px;
}


.resultListFormat:hover{
  background-color: #c4c4c4;
  cursor: pointer;
}


.resultItemText{
  width:100%;
  text-align: center;
}


.zoomBtn{
  background-color:#35a9de;
  border-color: #35a9de;
	// -moz-border-radius:28px;
	// -webkit-border-radius:28px;
  border-radius:28px;
  cursor: pointer;
}



/* SearchBox Section Styles */
#search{
  display: none;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowContainer{
  padding: 4px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

#searchBoxContainer{
  display: flex;
  justify-content: center;
}



/* UTILITIES */

.large-text-size{
  font-size: 18px;
}

.medium-text-size{
  font-size: 15px;
}

.centerText {
  text-align: center;
}

.padding-10px{
  padding: 10px;
}

.padding-right-med{
  padding-right: 5px;
}

.padding-left-med{
  padding-left: 5px;
}

.padding-top-7px{
  padding-top: 7px;
}


// Undo a dojo style
h2 h6{
  margin: 0px;
}

